.link {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 100%;
  min-width: 155px;
  height: 187px;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-40);
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*  */
}

.cardProfile {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.userImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-align: left;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--Grayscale-20);
  padding-top: 12px;
}

.cardLeft {
  display: flex;
  gap: 4px;
}

.qna,
.count {
  font-size: var(--font-size-base);
  color: var(--Grayscale-40);
  display: flex;
  align-items: center;
}
