:root {
  --Grayscale-10: #ffffff;
  --Grayscale-20: #f9f9f9;
  --Grayscale-30: #cfcfcf;
  --Grayscale-40: #818181;
  --Grayscale-50: #515151;
  --Grayscale-60: #000000;

  --Brown-10: #f5f1ee;
  --Brown-20: #e4d5c9;
  --Brown-30: #c7bbb5;
  --Brown-40: #542f1a;
  --Brown-50: #341909;

  --Blue-50: #1877f2;
  --Yellow-50: #fee500;
  --Red-50: #b93333;

  --color-white: #ffffff;
  --color-black: #000000;

  --box-shadow-1pt: 0px 4px 4px 0px #8c8c8c40;
  --box-shadow-2pt: 0px 4px 4px 0px #00000040;
  --box-shadow-3pt: 0px 16px 20px 0px #3030309e;

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-2xl: 2rem; /* 32px */
  --font-size-3xl: 2.5rem; /* 40px */

  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --line-height-xs: 1.3;
  --line-height-sm: 1.4;
  --line-height-base: 1.5;
  --line-height-md: 1.7;

  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 2rem; /* 24px */
  --spacing-xl: 3rem; /* 48px */
}

body {
  height: 100%;
  font-size: 16px;
  margin: 0;
  font-family: 'Pretendard', 'Actor', sans-serif;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
main {
  width: 100%;
  margin: 0 auto;
}
