.Button {
  width: 100%;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 22px;
}
.dark {
  color: var(--Grayscale-10);
  background: var(--Brown-40);
  font-weight: var(--font-weight-regular);
  border: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.Button.dark:hover {
  border: 2px solid var(--Brown-50);
}

.Button.dark:active {
  background: var(--Brown-50);
}

.Button.dark:disabled {
  background: var(--Brown-30);
  cursor: not-allowed;
  pointer-events: none;
}

.white {
  font-family: Actor;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 22px;
  color: var(--Brown-40);
  background: var(--Brown-10);
  border: 1px solid var(--Brown-40);
  transition: border-color 0.2s ease-in-out;
  background-image: url('../../../assets/icons/arrow-right-line.svg');
}
.Button.white:hover {
  border: 2px solid var(--Brown-40);
  padding: 11px 23px;
}
.Button.white:active {
  background: var(--Brown-20);
}

.Button.white:disabled {
  color: var(--Brown-30, #c7bbb5);
  background: var(--Brown-10);
  border: 1px solid var(--Brown-30);
  cursor: not-allowed;
  pointer-events: none;
}
