.Button {
  width: 100%;
  border-radius: 8px;
  padding: 0 24px;
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  height: 46px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

/* .small {
  height: 34px;
  padding: 0 12px;
  font-size: 14px;
} */

.dark {
  color: var(--Grayscale-10);
  background: var(--Brown-40);
  border: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.Button.dark:hover {
  border: 2px solid var(--Brown-50);
}

.Button.dark:active {
  background: var(--Brown-50);
}

.Button.dark:disabled {
  background: var(--Brown-30);
  cursor: not-allowed;
  pointer-events: none;
}

.white {
  color: var(--Brown-40);
  background: var(--Brown-10);
  border: 1px solid var(--Brown-40);
  justify-content: space-between;
}

/* .white.small {
  font-size: 14px;
} */

.Button.white:hover {
  box-shadow: 0 0 0 1px var(--Brown-40) inset;
}

/* .Button.white.small:hover {
  box-shadow: 0 0 0 1px var(--Brown-40) inset;
  padding: 8px 12px;
} */

.Button.white:active {
  background: var(--Brown-20);
}
/* .Button.white.small:active {
  padding: 8px 12px;
} */

.Button.white:disabled {
  color: var(--Brown-30);
  background: var(--Brown-10);
  border: 1px solid var(--Brown-30);
  cursor: not-allowed;
  pointer-events: none;
}

.Button.white.small:disabled {
}

.noArrow {
  justify-content: center;
}

.iconGroup {
  display: flex;
  align-items: center;
}

/* tablet 일 (기준: 768px 이하) */
@media (max-width: 768px) {
}

/* mobile (기준: 375px 이하) */
@media (max-width: 375px) {
  .Button {
    height: 34px;
    padding: 0 12px;
    font-size: 14px;
  }
  .white {
    font-size: 14px;
  }
  .Button.white:hover {
    box-shadow: 0 0 0 1px var(--Brown-40) inset;
    padding: 8px 12px;
  }
  .Button.white:active {
    padding: 8px 12px;
  }
}
