.Button {
  width: 100%;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 22px;
}

.small {
  padding: 8px 12px;
  font-size: 14px;
}

.dark {
  color: var(--Grayscale-10);
  background: var(--Brown-40);

  border: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.Button.dark:hover {
  border: 2px solid var(--Brown-50);
}

.Button.dark:active {
  background: var(--Brown-50);
}

.Button.dark:disabled {
  background: var(--Brown-30);
  cursor: not-allowed;
  pointer-events: none;
}

.white {
  font-family: Actor;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 22px;
  color: var(--Brown-40);
  background: var(--Brown-10);
  border: 1px solid var(--Brown-40);
  transition: border-color 0.2s ease-in-out;
  background-image: url('../../../assets/icons/arrow-right-line.svg');
  background-repeat: no-repeat;
  background-position: right 24px center;
  background-size: 18px 18px;
  background-origin: border-box;
  text-align: left;
}
.white.small {
  background-position: right 12px center;
  font-size: 14px;
}
.Button.white:hover {
  border: 2px solid var(--Brown-40);
  padding: 11px 23px;
}
.Button.white.small:hover {
  padding: 7px 12px;
}
.Button.white:active {
  background: var(--Brown-20);
  background-image: url('../../../assets/icons/arrow-right-line.svg');
  background-repeat: no-repeat;
  background-position: right 24px center;
  background-size: 18px 18px;
  background-origin: border-box;
}
.Button.white.small:active {
  background-position: right 12px center;
}

.Button.white:disabled {
  color: var(--Brown-30, #c7bbb5);
  background: var(--Brown-10);
  border: 1px solid var(--Brown-30);
  cursor: not-allowed;
  pointer-events: none;
  background-image: url('../../../assets/icons/arrow-right-line-disabled.svg');
  background-repeat: no-repeat;
  background-position: right 24px center;
  background-size: 18px 18px;
}
.Button.white.small:disabled {
  background-position: right 12px center;
}
