.container {
  position: relative;
  width: 79px;
}

.selectButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--Grayscale-40);
  background: var(--Grayscale-10);
  border-radius: 8px;
  border: 1px solid var(--Grayscale-40);
  padding: 8px 12px;
  cursor: pointer;
}

.selectButton.active {
  color: var(--Grayscale-60);
  border: 1px solid var(--Grayscale-60);
}

.arrowIcon {
  width: 14px;
  height: 14px;
  display: inline-block;
  fill: var(--Grayscale-40);
}
.arrowIcon.isOpen {
  transform: rotate(180deg);
  fill: var(--Grayscale-60);
}

.optionList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--Grayscale-30);
  border-radius: 8px;
  background: var(--Grayscale-10);
  box-shadow: var(--box-shadow-1pt);
  margin: 4px 0 0;
  list-style: none;
  z-index: 20;
}

.optionItem {
  font-size: 14px;
  padding: 10px 16px;
  cursor: pointer;
}

.optionItem:hover {
  color: var(--Blue-50);
}
