.selectBox {
  position: relative;
  width: 79px;
  height: 40px;
  user-select: none; /* 텍스트 드래그 방지 */
  margin: 12px auto 0;
}

.label {
  display: block;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  border: 1px solid var(--Grayscale-60);
  border-radius: 8px;
  background-color: var(--Grayscale-10);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.item {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
}

.item:hover {
  background-color: #f5f5f5;
}

.item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
