.badge {
  display: inline-block;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  padding: 4px 12px;
  background: var(--Grayscale-10);
}

.done {
  border: 1px solid var(--Brown-40);
}

.waiting {
  border: 1px solid var(--Grayscale-40);
}
