.confirmModalBackDropContainer {
  background: var(--Dim);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: 'rgba(0,0,0,0.5)';
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmModalContainer {
  width: 90vw;
  max-width: 612px;
  /* height: 200px; */
  background: var(--Grayscale-10);
  box-shadow: var(--box-shadow-2pt);
  border-radius: 24px;
  background: var(--Grayscale-10);
  box-shadow: var(--box-shadow-3pt);
  text-align: left;
  padding: 40px 40px 70px;
}
.confirmHeadGroup {
  display: flex;
  justify-content: end;
}
.bangGroup {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
h3 {
  margin-top: 25px;
}
h3 p {
  text-align: center;
}
h4 {
  text-align: center;
  margin-top: 20px;
}
.confirmContent {
  margin-right: 8px;
}
.confirmClose {
  display: inline-block;
  vertical-align: sub;
  /* cursor: pointer; */
}
.confirmButtonGroup {
  display: flex;
  gap: 20px;
  margin-top: 22px;
}

/* tablet 일 (기준: 768px 이하) */
@media (max-width: 768px) {
  .confirmModalContainer {
    width: calc(100% - 156px);
    /* max-width: 612px; */
  }
}

/* mobile (기준: 375px 이하) */
@media (max-width: 375px) {
  .confirmModalContainer {
    width: calc(100% - 50px);
    /* max-width: 327px; */
  }
}
