.link {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 100%;
  max-width: 220px;
  height: 187px;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-40);
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.messageIcon {
  width: 18px;
  height: 18px;
}
.cardProfile {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.userImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-align: left;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--Grayscale-20);
  padding-top: 12px;
}

.cardLeft {
  display: flex;
  gap: 4px;
}

.qna,
.count {
  font-size: var(--font-size-base);
  color: var(--Grayscale-40);
  display: flex;
  align-items: center;
}

/* tablet 일 (기준: 843px 이하) */
@media (max-width: 843px) {
  /* .card {
    width: 100%;
    max-width: 250px;
  } */
}

/* mobile (기준: 375px 이하) */
@media (max-width: 375px) {
  .card {
    min-width: 155.5px;
  }
  .userImage {
    width: 48px;
    height: 48px;
  }
  .name {
    font-size: 18px;
  }
  .qna,
  .count {
    font-size: 14px;
  }
  .messageIcon {
    width: 16px;
    height: 16px;
  }
}
