.dropdownContainer {
  width: 103px;
  min-height: 68px;
  height: auto;
  background: var(--Grayscale-10);
  border: 1px solid var(--Grayscale-30);
  box-shadow: var(--box-shadow-1pt);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 25px;
  right: 0;
}
.dropdownGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 30px;
  width: 100%;
  color: var(--Grayscale-50);
  cursor: pointer;
}
.dropdownRejectGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 30px;
  width: 100px;
  color: var(--Grayscale-50);
  cursor: pointer;
}
.dropdownImage {
  width: 14px;
  height: 14px;
  fill: var(--Grayscale-50);
}
.dropdownText {
  font-size: 14px;
  font-weight: 500;
}
.dropdownRejectText {
  font-size: 14px;
  font-weight: 500;
  color: var(--Red-50);
}
.dropdownGroup:hover {
  color: var(--Blue-50);
}
.dropdownGroup:hover .dropdownImage {
  fill: var(--Blue-50);
}

