.selectBox {
  user-select: none; /* 텍스트 드래그 방지 */
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #818181;
  background: #fff;
  cursor: default;
  width: 90px;
  min-height: 34px;
  justify-content: center;
  margin: 12px auto 0;
}

.label {
  padding: 8px 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #818181;
  background: none;
  border: none;
  cursor: pointer;
}

.ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 90px;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  border: 1px solid var(--Grayscale-30);
  border-radius: 8px;
  background-color: var(--Grayscale-10);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  /* transform: translateX(-50%); */

  opacity: 0;
  transform: translateX(-50%) translateY(-4px);
  pointer-events: none;
}

.open {
  display: block;

  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
}

.downImage {
  display: flex;
  /* background: url('../assets/icons/arrow-down.svg') no-repeat; */
  /* background-size: contain; */
  /* width: 14px; */
  /* height: 14px; */
  margin-left: 4px;
}

.item {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
  color: var(--Grayscale-50);
}

.item:hover {
  color: var(--Blue-50);
}

.item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
