.FeedCardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px auto 140px;
  width: 716px;
}
.messageSection {
  margin: 0 auto 60px;
  width: 100%;
  min-height: 330px;
  height: auto;
  border-radius: 16px;
  border: 1px solid var(--Brown-30);
  background: var(--Brown-10);
}
.deleteButton {
  width: 100px;
  height: 35px;
  margin-bottom: 9px;
}
.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 16px 0;
  gap: 8px;
}
.messageImage {
  height: 24px;
  width: 24px;
  filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(3659%)
    hue-rotate(337deg) brightness(100%) contrast(93%);
}
.messageText {
  font-family: 'Actor';
  color: var(--Brown-40);
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 769px) {
  .FeedCardContainer {
    width: 704px;
  }
}

@media (max-width: 376px) {
  .FeedCardContainer {
    width: 327px;
    margin: 23px auto 168px;
  }

  .messageText {
    font-size: 18px;
  }
}
