.feedCardListContainer {
  width: 684px;
  height: 543px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px var(--box-shadow-1pt);
  background: var(--Grayscale-10);
  margin: 0 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.answerActions {
  display: flex;
  justify-content: space-between;
}
.answerStatus {
  width: 61px;
  height: 26px;
  border-radius: 8px;
  background: var(--Grayscale-10);
  border: 1px solid var(--Brown-40);
  color: var(--Grayscale-40, #818181);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
} 
.questionMeta {
  font-weight: 500;
  font-size: 14px;
  color: var(--Grayscale-40); 
}
.questionText {
  font-family: 'Actor';
  font-weight: 400;
  font-size: 18px;
  color: var(--Grayscale-60);
}
.answerForm {
  display: flex;
  gap: 12px;
  margin: 0;
}
.profileImage {
  width: 48px;
  height: 48px;
}
.answerFormBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.userName {
  font-family: 'Actor';
  font-weight: 400;
  font-size: 18px;
  color: var(--Grayscale-60);
}
.answerInput {
  box-sizing: border-box;
  width: 100%;
  height: 186px;
  background: var(--Grayscale-20);
  border-radius: 8px;
  padding: 16px;
  color: var(--Grayscale-40);
  font-size: 16px;
  font-weight: 400;
  resize: none;
}
.submitButton {
  cursor: pointer;
  background: var(--Brown-30);
  width: 560px;
  height: 46px;
  border-radius: 8px;
  margin-top: 8px;
  color: var(--Grayscale-10, #FFFFFF);
  font-size: 16px;
  font-weight: 400;
}
.reactions {
  height: 43px;
  width: 100%;
  border-top: 1px solid var(--Grayscale-30);
}
.reactionGroup {
  display: flex;
  gap: 32px;
  margin-top: 24px;
}
.reactionButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  color: var(--Grayscale-40);
  fill: var(--Grayscale-40);
}
