.FeedCardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px auto 140px;
  width: 716px;
}
.messageSection {
  margin: 0 auto 60px;
  width: 100%;
  min-height: 330px;
  height: auto;
  border-radius: 16px;
  border: 1px solid var(--Brown-30);
  background: var(--Brown-10);
}
.deleteButton {
  margin-bottom: 9px;
}
.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 16px 0;
  gap: 8px;
}
.messageText {
  font-family: 'Actor';
  color: var(--Brown-40);
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 768px) {
  .FeedCardContainer {
    width: 100%;
    max-width: 704px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .messageSection {
    padding: 0 16px;
  }
}

@media (max-width: 375px) {
  .FeedCardContainer {
    width: 100%;
    max-width: 327px;
    margin-top: 23px;
  }
  .messageText {
    font-size: 18px;
  }
}
