.feedCardListContainer {
  width: 684px;
  min-height: 243px;
  height: auto;
  border-radius: 16px;
  box-shadow: var(--box-shadow-1pt);
  background: var(--Grayscale-10);
  margin: 0 16px 20px 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.feedCardListContainer:last-child {
  margin-bottom: 16px;
}
.answerActions {
  display: flex;
  justify-content: space-between;
}
.answerStatus {
  width: 61px;
  height: 26px;
  border-radius: 8px;
  background: var(--Grayscale-10);
  border: 1px solid var(--Brown-40);
  color: var(--Grayscale-40);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdownGroup{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.moreImage {
  cursor: pointer;
  width: 26px;
  height: 26px;
  fill: var(--Grayscale-60);
}
.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
} 
.questionMeta {
  font-weight: 500;
  font-size: 14px;
  color: var(--Grayscale-40); 
}
.questionText {
  font-family: 'Actor';
  font-weight: 400;
  font-size: 18px;
  color: var(--Grayscale-60);
}
.reactions {
  height: 43px;
  width: 100%;
  border-top: 1px solid var(--Grayscale-30);
}
.reactionGroup {
  display: flex;
  gap: 32px;
  margin-top: 24px;
}
.reactionButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  color: var(--Grayscale-40);
}
.reactionButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.reactionIcon {
  width: 16px;
  height: 16px;
  fill: var(--Grayscale-40);
}
.active .reactionIcon {
  fill: var(--Blue-50);
}
.active span {
  color: var(--Blue-50);
}
