.answerForm {
  display: flex;
  gap: 12px;
  margin: 0;
}
.profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.answerFormBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.infoGroup {
  display: flex;
  justify-content: center;
}
.userName {
  font-family: 'Actor';
  font-weight: 400;
  font-size: 18px;
  color: var(--Grayscale-60);
  margin-right: 8px;
}
.date {
  font-size: 14px;
  font-weight: 500;
  color: var(--Grayscale-40);
  display: flex;
  align-items: center;
}
.answerInput {
  box-sizing: border-box;
  width: 560px;
  height: 186px;
  background: var(--Grayscale-20);
  border-radius: 8px;
  padding: 16px;
  color: var(--Grayscale-40);
  font-size: 16px;
  font-weight: 400;
  resize: none;
}
.answerText {
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.rejectContent {
  color: var(--Red-50);
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .answerForm {
    width: 100%;
    max-width: 608px;
    margin: 0 auto;
  }
  .answerFormBody {
    width: 100%;
    max-width: 548px;
  }
  .answerInput {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .answerForm {
    width: 100%;
    max-width: 247px;
  }
  .answerFormBody {
    width: 100%;
    max-width: 203px;
  }
  .answerInput {
    width: 100%;
  }
  .profileImage {
    width: 32px;
    height: 32px;
  }
}
