.group {
  position: relative;
}

.header {
  width: 100%;
  height: 234px;
  background-image: url('../assets/images/header-image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 170px;
  height: 67px;
  transform: translateY(-30px);
}

@media (max-width: 376px) {
  .header {
    height: 177px;
  }

  .logo {
    width: 124px;
    height: 49px;
  }
}
