.messageSection {
  width: 716px;
  min-height: 800px;
  height: auto;
  margin: 54px auto 60px;
  border-radius: 16px;
  border: 1px solid var(--Brown-30);
  background: var(--Brown-10);
}
.messageContainer { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 16px 0;  
  gap: 8px;
}
.messageImage{
  height: 24px;
  width: 24px;
  filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(3659%)
    hue-rotate(337deg) brightness(100%) contrast(93%);
}
.messageText {
  font-family: 'Actor';
  color: var(--Brown-40);
  font-weight: 400;
  font-size: 20px;
}