.group {
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.group a {
  display: flex;
  align-items: center;
}

.logo {
  width: 146px;
  height: 57px;
}

.linkButton {
  width: 161px;
  height: 46px;
  display: flex;
  align-items: center;
}

/* .button {
  background: var(--Brown-10);
  border-radius: 8px;
  border: 1px solid var(--Brown-40);
} */
