.mainContainer {
  width: 100%;
  min-height: 672px;
  text-align: center;
  background: var(--Grayscale-20);
  background-image: url('../assets/images/main-image.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mainContainer img {
  display: inline;
}
.mainInputContainer {
  width: 100%;
  max-width: 400px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 172px;
  border-radius: 16px;
  padding: 32px;
  background: var(--Grayscale-10);
  margin: 24px auto 0px;
  flex-shrink: 0;
}
.mainInputForm {
  width: 100%;
}
.personIcon {
  display: inline-block;
  position: absolute;
  left: 46px;
  top: 43px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url('../assets/icons/person.svg');
  background-repeat: no-repeat;
  filter: brightness(0) saturate(100%) invert(48%) sepia(2%) saturate(33%)
    hue-rotate(326deg) brightness(104%) contrast(89%);
}
.inputName {
  width: 100%;
  max-width: 336px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid var(--Grayscale-40, #818181);
  padding: 12px 16px;
  background: var(--Grayscale-10);
  padding-left: 40px;
  font-family: Pretendard;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 22px;
}
.mainQuestionButtonGroup {
  width: 100%;
  margin: 16px 0 0;
}
