.feedCardListContainer {
  width: 684px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px var(--box-shadow-1pt);
  background: var(--Grayscale-10);
  margin: 0 16px;
  margin-bottom: 20px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.answerActions {
  display: flex;
  justify-content: space-between;
}
.answerStatus {
  width: 61px;
  height: 26px;
  border-radius: 8px;
  background: var(--Grayscale-10);
  border: 1px solid var(--Brown-40);
  color: var(--Grayscale-40, #818181);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.questionMeta {
  font-weight: 500;
  font-size: 14px;
  color: var(--Grayscale-40);
}
.questionText {
  font-family: 'Actor';
  font-weight: 400;
  font-size: 18px;
  color: var(--Grayscale-60);
  text-align: start;
  line-height: 24px;
}
.answerForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  margin: 0;
}

.answerFormBody {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.answerTextGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.answerMeta {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
  color: var(--Grayscale-60);
}

.answerDate {
  font-size: var(--font-size-sm);
  color: var(--Grayscale-40);
  font-weight: var(--font-weight-medium);
}

.answerText {
  text-align: start;
  line-height: 22px;
}

.profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
}
.userName {
  font-family: 'Actor';
  font-weight: 400;
  font-size: 18px;
  color: var(--Grayscale-60);
}

.rejectContent {
  color: var(--Red-50);
}
.reactions {
  height: 43px;
  width: 100%;
  border-top: 1px solid var(--Grayscale-30);
}

.reactionImg {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(52%) sepia(1%) saturate(0%)
    hue-rotate(171deg) brightness(97%) contrast(82%);
}
.reactionGroup {
  display: flex;
  gap: 32px;
  margin-top: 24px;
}
.reactionButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  color: var(--Grayscale-40);
}
.reactionButton:disabled .icon,
.reactionButton:disabled span {
  opacity: 0.6;
  cursor: not-allowed;
}

.icon {
  width: 16px;
  height: 16px;
  fill: var(--Grayscale-40);
}

.active .icon {
  fill: var(--Blue-50);
}

.active {
  color: var(--Blue-50);
}

@media (max-width: 769px) {
  .feedCardListContainer {
    width: 672px;
  }
}

@media (max-width: 376px) {
  .feedCardListContainer {
    width: 295px;
    padding: 24px;
    gap: 24px;
  }

  .questionText {
    font-size: 16px;
  }
}
