.floatingGroup {
  width: 208px;
  height: 54px;
  position: fixed;
  bottom: 24px;
  right: 24px;
}

@media (max-width: 768px) {
  .floatingGroup {
    right: 24px;
  }
}

@media (max-width: 375px) {
  .floatingGroup {
    width: 123px;
  }

  .hideOnMobile {
    display: none;
  }
}
