.emptySection {
  width: 716px;
  height: 330px;
  margin: 54px auto 136px;
  border-radius: 16px;
  border: 1px solid var(--Brown-20);
  background: var(--Brown-10);
}
.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 16px 0;
}
.messageGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.messageImage {
  height: 24px;
  width: 24px;
  fill: var(--Brown-40);
}

.blankImage {
  width: 150px;
  height: 154px;
  margin-top: 70px;
}
.messageSection {
  width: 716px;
  margin: 54px auto 136px;
  border-radius: 16px;
  border: 1px solid var(--Brown-30);
  background: var(--Brown-10);
}
.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 16px 0;
  gap: 8px;
}
.messageText {
  font-family: 'Actor';
  color: var(--Brown-40);
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 769px) {
  .emptySection {
    width: 704px;
  }

  .messageSection {
    width: 704px;
  }
}

@media (max-width: 376px) {
  .emptySection {
    width: 327px;
  }

  .messageSection {
    width: 327px;
    margin-bottom: 126px;
  }

  .messageImage {
    height: 22px;
    width: 22px;
  }
}
