.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  max-width: 940px;
  margin: 26px auto;
  padding: 0 20px;
}

/* Tablet */
@media (max-width: 1199px) {
  .CardGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 186px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .CardGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
