body {
  background-color: var(--Grayscale-20);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -105px;
}

.avatar {
  width: 136px;
  height: 136px;
  border-radius: 50%;
}

.nickname {
  margin-top: 12px;
  font-size: 32px;
  color: var(--Grayscale-60);
}

.share {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

button {
  padding: 0;
}

@media (max-width: 376px) {
  .profile {
    margin-top: -75px;
  }

  .avatar {
    width: 104px;
    height: 104px;
  }

  .nickname {
    font-size: 24px;
  }
}
