:root {
}

a {
}
a:hover {
}

body {
}

h1 {
}

button {
  cursor: pointer;
}
button:hover {
}
button:focus,
button:focus-visible {
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
  }
  button {
  }
}
